apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    control-plane: controller-manager
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsNonRoot: true
      containers:
      - command:
        - /manager
        image: controller:latest
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        env:
        - name: BASE_ISO_CONTAINER_IMAGE
          valueFrom:
            resourceFieldRef:
              containerName: mananager
              resource: image
        - name: WORKING_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: CA_ISSUER_NAME
          # CA_ISSUER_NAME will be substituted by kustomize.
          value: $(CA_ISSUER_NAME)
        envFrom:
        - configMapRef:
            name: manager-config
        volumeMounts:
        - mountPath: /etc/osbuild/certs
          name: operator-cert
          readOnly: true
        - mountPath: /etc/osbuild/repositories
          name: repositories
      volumes:
      - name: operator-cert
        secret:
          defaultMode: 420
          secretName: operator-cert
      - name: repositories
        projected:
          sources:
          - configMap:
              name: default-repos-centos-8
          - configMap:
              name: default-repos-centos-9
          - configMap:
              name: default-repos-centos-stream-8
          - configMap:
              name: default-repos-centos-stream-9
          - configMap:
              name: default-repos-fedora-34
          - configMap:
              name: default-repos-fedora-35
          - configMap:
              name: default-repos-fedora-36
          - configMap:
              name: default-repos-rhel-84
          - configMap:
              name: default-repos-rhel-85
          - configMap:
              name: default-repos-rhel-86
          - configMap:
              name: default-repos-rhel-87
          - configMap:
              name: default-repos-rhel-8-beta
          - configMap:
              name: default-repos-rhel-8
          - configMap:
              name: default-repos-rhel-90
          - configMap:
              name: default-repos-rhel-91
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
