---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  - v1alpha1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-osbuilder-project-flotta-io-v1alpha1-osbuildconfig
  failurePolicy: Fail
  name: mosbuildconfig.kb.io
  rules:
  - apiGroups:
    - osbuilder.project-flotta.io
    apiVersions:
    - v1alpha1
    operations:
    - UPDATE
    resources:
    - osbuildconfigs
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  - v1alpha1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-osbuilder-project-flotta-io-v1alpha1-osbuildconfig
  failurePolicy: Fail
  name: vosbuildconfig.kb.io
  rules:
  - apiGroups:
    - osbuilder.project-flotta.io
    apiVersions:
    - v1alpha1
    operations:
    - UPDATE
    resources:
    - osbuildconfigs
  sideEffects: None
