---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuildconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuildconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuildconfigs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuildconfigtemplates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuildconfigtemplates/finalizers
  verbs:
  - update
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuildconfigtemplates/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuildenvconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuildenvconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuildenvconfigs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuilds
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuilds/finalizers
  verbs:
  - update
- apiGroups:
  - osbuilder.project-flotta.io
  resources:
  - osbuilds/status
  verbs:
  - get
  - patch
  - update
