---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: osbuilds.osbuilder.project-flotta.io
spec:
  group: osbuilder.project-flotta.io
  names:
    kind: OSBuild
    listKind: OSBuildList
    plural: osbuilds
    singular: osbuild
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OSBuild is the Schema for the osbuilds API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OSBuildSpec defines the desired state of OSBuild
            properties:
              details:
                description: Details defines what to build
                properties:
                  customizations:
                    description: Customizations defines the changes to be applied
                      on top of the base image (optional)
                    properties:
                      packages:
                        description: Packages is a list of RPM packages to install
                          (optional)
                        items:
                          type: string
                        type: array
                      services:
                        description: Services defines the services to enable or disable
                          (optional)
                        properties:
                          disabled:
                            description: List of services to disable by default
                            items:
                              type: string
                            type: array
                          enabled:
                            description: List of services to enable by default
                            items:
                              type: string
                            type: array
                        type: object
                      users:
                        description: Users is the list of Users to add to the image
                          (optional)
                        items:
                          description: User defines a single user to be configured
                          properties:
                            groups:
                              description: Groups is the groups to add the user to
                                (optional)
                              items:
                                type: string
                              type: array
                            key:
                              description: Key is the user's SSH public key (optional)
                              type: string
                            name:
                              description: Name is the username for the new user
                              type: string
                          required:
                          - name
                          type: object
                        type: array
                    type: object
                  distribution:
                    description: Distribution is the name of the O/S distribution
                    type: string
                  targetImage:
                    description: TargetImage defines the requested output image
                    properties:
                      architecture:
                        description: Architecture defines target architecture of the
                          image
                        enum:
                        - x86_64
                        - aarch64
                        type: string
                      osTree:
                        description: OSTree is the OSTree configuration of the build
                          (optional)
                        properties:
                          parent:
                            description: Parent is the ref of the parent of target
                              build (Optional)
                            type: string
                          ref:
                            description: Ref is the ref of the target build (Optional)
                            type: string
                          url:
                            description: Url is the Url of the target build (Optional)
                            type: string
                        type: object
                      repositorys:
                        description: Repositories is the list of additional custom
                          RPM repositories to use when building the image (optional)
                        items:
                          description: Repository defines the RPM Repository details.
                          properties:
                            baseurl:
                              type: string
                            check_gpg:
                              type: boolean
                            gpgkey:
                              description: GPG key used to sign packages in this repository.
                              type: string
                            ignore_ssl:
                              type: boolean
                            metalink:
                              type: string
                            mirrorlist:
                              type: string
                            package_sets:
                              description: Naming package sets for a repository assigns
                                it to a specific part (pipeline) of the build process.
                              items:
                                type: string
                              type: array
                            rhsm:
                              description: Determines whether a valid subscription
                                is required to access this repository.
                              type: boolean
                          type: object
                        type: array
                      targetImageType:
                        description: ImageType defines the target image type
                        enum:
                        - edge-container
                        - edge-installer
                        type: string
                    required:
                    - architecture
                    - targetImageType
                    type: object
                required:
                - distribution
                - targetImage
                type: object
              kickstart:
                description: Kickstart is a reference to a configmap that may store
                  content of a kickstart file to be used in the target image
                properties:
                  name:
                    description: The ConfigMap to select from.
                    type: string
                required:
                - name
                type: object
              triggeredBy:
                description: TriggeredBy explains what triggered the build out
                enum:
                - UpdateCR
                - Webhook
                type: string
            required:
            - details
            - triggeredBy
            type: object
          status:
            description: OSBuildStatus defines the observed state of OSBuild
            properties:
              composer_iso:
                description: ComposerIso is the URL for the iso that composer build
                  returns before packaing with the kickstart
                type: string
              conditions:
                description: The conditions present the latest available observations
                  of a build's current state
                items:
                  properties:
                    lastTransitionTime:
                      description: The last time the condition transit from one status
                        to another
                      format: date-time
                      type: string
                    message:
                      description: A human-readable message indicating details about
                        last transition
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown
                      type: string
                    type:
                      description: Type of status
                      enum:
                      - startedContainerBuild
                      - failedContainerBuild
                      - containerBuildDone
                      - startedIsoBuild
                      - failedIsoBuild
                      - isoBuildDone
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              containerComposeId:
                description: ComposeId presents compose id that was already started,
                  for tracking a job of edge-container
                type: string
              containerUrl:
                description: ContainerUrl presents the url of the edge-container image
                type: string
              isoComposeId:
                description: IsoComposeId presents compose id that was already started,
                  for tracking a job of edge-installe
                type: string
              isoUrl:
                description: IsoUrl presents the url of the edge-installer image
                type: string
              output:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
